.table {
    margin: 20px 0;
    border-collapse: collapse;
}

.th {
    font-size: 16px;
    font-weight: 500;
    padding: 5px;
    background-color: #5A6F08;
    color: white;
    text-align: left;

}

.td {
    font-size: 14px;
    border: 1px solid #ddd;
    text-align: left;
    padding: 5px;
}


.tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tr:hover {
    background-color: #ddd;
}


.thContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.thIcons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thIcons i {
    font-size: 12px;
    transition: 0.5s;
}

.thIcons i:hover {
    cursor: pointer;
    opacity: 0.9;
}


.thTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tableBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.pagination i {
    padding: 0 5px;
    color: #5A6F07;
    font-size: 20px;
    transition: 0.5s;
}

.pagination i:hover {
    color: #93AD18;
}

.filters {
    display: flex;
    justify-content: space-between;
}

.tableContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: solid 1px lightgrey;
    border-radius: 5px;
}