.form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: solid 1px lightgrey;
    border-radius: 5px;
}

.fieldset {
    display: flex;
    flex-direction: column;
    border: solid 1px lightgrey;
    border-radius: 5px;
    padding: 20px;
}

.legend {
    color: #93AD18;
}

.inputsContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.formColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 48%;
}