.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    width: 95%;
    margin: 20px;
    border: solid 1px lightgray;
    border-radius: 15px;
    background-color: white;
    padding: 20px;
}

.identity {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    height: 110px;
    object-fit: cover;
}

.appName {
    display: flex;
    font-size: 40px;
    color: grey;
}

.nav {
    display: flex;
}

.link {
    padding-left: 10px;
    font-size: 18px;
    transition: 0.5s all;
}

.navLink {
    display: flex;
    color: grey;
    transition: 0.5s;
    font-size: 20px;
}

.navLink:hover {
    color: #93AD18;
    opacity: 0.8;
}