.selectMenu {
    display: flex;
    flex-direction: column;
    border: solid 1px lightgray;
    border-radius: 5px;
    color: #424040;
    font-size: 16px;
    position: relative;
    min-width: 100px;
}

.selectMenu:hover .select {
    border: solid 1px #93AD18;
    border-radius: 5px;
    padding: 9px;
}

.label {
    text-align: left;
    margin: 10px 10px 5px 5px;
}

.select {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.select i {
    color: lightgray;
    margin-right: 10px;
}

.ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: left;
    position: absolute;
    z-index: 1;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding-top: 39px;
    max-height: 250px;
    overflow: auto;
}

.li {
    padding: 10px;
    transition: all 0.2s;
    font-size: 16px;
    background-color: white;
}



.li:nth-child(odd) {
    background-color: #f2f2f2;
}

.li:hover {
    color: white;
    background-color: #5A7007;
    cursor: pointer;
}